<?xml version='1.0' encoding='utf-8'?>
<plugin id="cl-entel-plugins-huellero" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

  <name>huellero</name>

  <js-module name="Huellero" src="www/huellero.js">
    <clobbers target="huellero" />
  </js-module>

  <dependency id="cordova-plugin-add-swift-support" version="1.7.2"/>

  <platform name="android">

    <config-file target="config.xml" parent="/*">
      <feature name="Huellero">
        <param name="android-package" value="cl.entel.plugins.huellero.Huellero"/>
      </feature>
    </config-file>

    <source-file src="src/android/Huellero.java" target-dir="src/cl/entel/plugins/huellero" />


    <framework src="src/android/file.gradle" custom="true" type="gradleReference" />
    
    <resource-file src="aar/zymorpholib_v1-release.aar" target="libs/zymorpholib_v1-release.aar"/>
  
  </platform>
</plugin>